/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
}
.container{
	display:flex;
	justify-content:space-evenly;
	gap:20px;
}
.panel{
	position:relative;
}
.img-text{
	position:absolute;
	bottom:10px;
	left:10px;
}
p{
	color:white;
}
