/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
}
.container{
	display:flex;

	gap:10px;
	
}
.panel{
	
	flex:1;
	overflow:hidden;
	transition:flex 0.5s ease;
	cursor:pointer;
	border-radius:10px;
}
.img-text{
	z-index:1;
}
.active{
	flex:5;
}

p{
	color:black;
}
